header{ 
    display:block; 
}
nav { 
    display:block; 
    background-color: #6480FF;
    color: #FFFF00;
    font-size: 16px;
    font-family: Verdana, Stroke, Tahoma, sans-serif;
    margin: 2px;
    border-bottom: 2px;
    border-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Stroke, Tahoma, sans-serif;
    border-style: solid;
    border-color: #EEEE00;
    border-left: none ;
    border-right: none;


}
section { 
    display:block; 
}

body {
    background-color: #6480FF;
    color: #FFFF00;
    font-size: 16px;
    font-family: Verdana, Stroke, Tahoma, sans-serif;
}

a {
    color: #EEEE00;
}

a:visited{
  color: #EEEE00;
}

.ender {
    text-align: right;
    font-size: 12px;
    line-height: 140%;
    float: right;
}

.imgLogo {
    margin-bottom: 4px;
    padding-bottom: 4px;

    }

.apres {
    text-align: center;
    font-size: 18px;
}

nav a {
    color: #0000DD;
    text-decoration: none;
}

    

nav  a:visited{
    color: #0000DD;
    
}

nav a:hover{
    color: #DD00DD
}

.nav-menu{
    margin: 3px auto;

}

.nav-botao {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 4px ;
    padding-right: 4px;
    background-color: #FFEE66;
    width: 100px;
    display: inline-block;
}

.listaLentes {
    color: #3040BB;
    background-color: #EEDD99;
    padding: 10px 10px 10px 50px;
    margin: 30px 10px 10px 10px;
    border-style: solid;
    border: 2px;
    border-color: #000055;
    line-height: 200%;
    list-style-type: upper-roman;
}

.listaLentes-ul {
    color: #3040BB;
    line-height: 200%;
}

.listaLentes-img {
    vertical-align: center;
}

.listaLentes-preco {
    color: #EE0000
}